.app_dark_theme {
    --bg-color: #1d1f21;
    --inverted-bg-color: #2d2d2d;
    --primary-color: #f3f2f2;
    --secondary-color: #d9d9d9;


    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;
}
